In [1]:
import sys
sys.path.append('../')
from database.SQLite import SQLite

db_name = 'concert_singer'
db = SQLite(f'/home/linzhisheng/MOMQ/MoMQ/database/spider_database/database/{db_name}/{db_name}.sqlite')


gt, err = db.fetch('SELECT name ,  country ,  age FROM singer ORDER BY age DESC')

gt

[('Joe Sharp', 'Netherlands', 52),
 ('John Nizinik', 'France', 43),
 ('Rose White', 'France', 41),
 ('Timbaland', 'United States', 32),
 ('Justin Brown', 'France', 29),
 ('Tribal King', 'France', 25)]